@use '../abstracts' as *;

.lock-scroll {
	overflow: hidden;
}

.breadcrumbs {
	@include flex(row, flex-start, center, 8px);
	flex-wrap: wrap;
	margin-bottom: 24px;
	@media (max-width: 767px) {
		margin-bottom: 16px;
	}

	&__item {
		color: $text;
		@include text-style(16px, 300, 130%);
		text-transform: capitalize;
	}
}
