@use '../abstracts' as *;

.lock-scroll {
	overflow: hidden;
}

.breadcrumbs {
	@include flex(row, flex-start, center, 8px);
	margin-bottom: 24px;
	@media (max-width: 767px) {
		margin-bottom: 16px;
	}

	&__item {
		color: $text;
		@include text-style(16px, 300, 130%);
		text-transform: capitalize;
	}

	&__item:nth-child(3) {
		@media (max-width: 767px) {
			a {
				display: none;
			}
			&::after {
				content: '...';
			}
		}
	}

	&__item:last-child {
		@media (max-width: 767px) {
			max-width: 100%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}
