@use '../abstracts' as *;

.lock-scroll {
	overflow: hidden;
}

.hidden {
	display: none;
}

.breadcrumbs {
	@include flex(row, flex-start, center, 8px);
	flex-wrap: wrap;
	margin-bottom: 24px;
	@media (max-width: 767px) {
		margin-bottom: 16px;
	}

	&__item {
		color: $text;
		@include text-style(16px, 300, 130%);
		text-transform: capitalize;
	}
}

.input {
	@media (max-width: 767px) {
		width: 100%;
	}
	label {
		display: block;
		color: $text;
		@include text-style(16px, 400, 130%);
		margin-bottom: 10px;
	}
	input {
		@include text-style(14px, 400, 130%);
		padding: 16px 15px;
		@include box(299px, 50px, 8px);
		border: 1px solid #f2f2f2;
		background: $white;
		@include transition;
		@media (max-width: 1024px) {
			width: 356px;
		}
		@media (max-width: 767px) {
			width: 100%;
		}
		&::placeholder {
			color: #9599aa;
			opacity: 1;
		}
		&:hover {
			border-color: #ffe754;
		}
		&:focus {
			border-color: #ffe754;
		}
	}
}

.textarea {
	width: 100%;
	label {
		display: block;
		color: $text;
		@include text-style(16px, 400, 130%);
		margin-bottom: 10px;
	}
	textarea {
		@include text-style(14px, 400, 130%);
		padding: 16px 15px;
		@include box(100%, 120px, 8px);
		border: 1px solid #f2f2f2;
		background: $white;
		@include transition;
		resize: none;
		@media (max-width: 1024px) {
			width: 100%;
		}
		@media (max-width: 767px) {
			width: 100%;
		}
		&::placeholder {
			color: #9599aa;
			opacity: 1;
		}
		&:hover {
			border-color: #ffe754;
		}
		&:focus {
			border-color: #ffe754;
		}
	}
}

.radio-group {
	display: grid;
	gap: 16px;
	width: 100%;
}

.radio {
	@include flex(row, flex-start, center, 9px);
	cursor: pointer;
	user-select: none;
}

/* Ховаємо нативну радіокнопку */
.radio input {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.radio__control {
	@include box(20px, 20px, 50%);
	background: #f2f2f2;
	display: grid;
	place-items: center;
	@include transition;
}

/* Внутрішня крапка */
.radio__control::after {
	content: '';
	@include box(12px, 12px, 50%);
	background: $accent;
	transform: scale(0);
	@include transition;
}

.radio input:checked + .radio__control::after {
	transform: scale(1);
}

.radio__label {
	color: $text;
	@include text-style(14px, 400, normal);
	letter-spacing: -0.312px;
}

.counter {
	display: inline-flex;
	flex-direction: column;
	gap: 10px;
	user-select: none;
	@media (max-width: 1024px) {
		width: 100%;
		@include flex(row, space-between, center);
	}
	@media (max-width: 1024px) {
		width: 100%;
		justify-content: flex-start;
	}

	&__label {
		color: $text;
		@include text-style(16px, 400, 130%);
	}

	&__box {
		@include flex(row, center, center, 20px);
		@include box(70px, 50px);
		background: #f2f2f2;
	}

	&__value {
		color: $text;
		@include text-style(14px, 400, 130%);
	}

	&__controls {
		@include flex(column, center, center, 5px);
	}

	&__btn {
		@include center;
	}
}

.dropdowns {
	width: 100%;
	@include flex(column, flex-start, center, 24px);
	@media (max-width: 1024px) {
		flex-direction: row;
		gap: 20px;
	}
	@media (max-width: 767px) {
		flex-direction: column;
		gap: 20px;
	}
}

.field {
	position: relative;
	width: 100%;

	label {
		display: block;
		color: $text;
		@include text-style(16px, 400, 130%);
		margin-bottom: 10px;
	}

	.select-trigger {
		width: 100%;
		border-radius: 8px;
		padding: 16px 15px;
		border: 1px solid $bg;
		background: $white;
		color: $text;
		@include text-style(14px, 400, 130%);
		cursor: pointer;
	}

	.custom-options {
		position: absolute;
		top: calc(100% + 4px);
		left: 0;
		right: 0;
		background: $white;
		border: 1px solid $bg;
		border-radius: 8px;
		display: none;
		flex-direction: column;
		z-index: 10;
	}

	.custom-option {
		padding: 12px 15px;
		@include text-style(14px, 400, 130%);
		color: $text;
		cursor: pointer;

		&:hover {
			background: #f0f0f0;
		}
	}

	&.open .custom-options {
		display: flex;
	}

	&::after {
		content: '';
		position: absolute;
		right: 8px;
		top: 50%;
		transform: translateX(-50%) rotateX(0deg);
		width: 15px;
		height: 30px;
		background: url('../img/icon-big-chevron.svg') no-repeat center / contain;
		pointer-events: none;
		@include transition;
	}

	&.open::after {
		transform: translateX(-50%) rotateX(180deg);
	}
}
