@use '../abstracts' as *;

.about-wrap {
	padding: 40px 102px 83px 102px;
	@media (max-width: 1024px) {
		padding: 24px 20px 120px 20px;
	}
	@media (max-width: 767px) {
		padding: 16px 16px 38px 16px;
	}
}
.about {
	width: 100%;
	@include flex(row, flex-start, flex-start);
	@media (max-width: 1024px) {
		@include flex(column, flex-start, flex-start, 24px);
	}
	@media (max-width: 767px) {
		gap: 8px;
	}
	&__title {
		width: 50%;
		color: $text;
		@include text-style(40px, 500, normal);
		letter-spacing: -0.312px;
		@media (max-width: 1024px) {
			width: 100%;
		}
		@media (max-width: 767px) {
			font-size: 32px;
		}
	}

	&__text {
		width: 50%;
		color: $grey;
		@include text-style(32px, 300, normal);
		@media (max-width: 1024px) {
			width: 100%;
		}
		@media (max-width: 767px) {
			font-size: 20px;
		}
		a {
			color: $text;
		}
	}
}
