@use '../abstracts' as *;

.articles {
	padding: 120px 78px;
	overflow: hidden;
	@media (max-width: 1024px) {
		padding: 120px 20px;
	}
	@media (max-width: 767px) {
		padding: 80px 20px;
	}
	&__top {
		@include flex(row, space-between, center);
		margin-bottom: 24px;
		@media (max-width: 1024px) {
			justify-content: flex-start;
		}
	}

	&__title {
		color: $text;
		@include text-style(40px, 500, normal);
		letter-spacing: -0.312px;
		@media (max-width: 767px) {
			@include text-style(32px, 500, normal);
		}
	}

	&__navigation {
		@include flex(row, center, center, 12px);
		@media (max-width: 1024px) {
			display: none;
		}
	}

	&__pagination-prev {
		@include center;
		@include box(56px, 56px, 56px);
		border: 1px solid $text;
		background: $accent;
	}

	&__pagination-next {
		@include center;
		@include box(56px, 56px, 56px);
		border: 1px solid $text;
		background: $accent;
	}

	.swiper-button-disabled {
		background: $white;
	}

	&__swiper {
		width: calc(100% + 102px);
		margin-right: -102px;
		@media (min-width: 1920px) {
			width: 100%;
			margin-right: 0;
		}
		@media (max-width: 1024px) {
			width: calc(100% + 20px);
			margin-right: -20px;
		}
		@media (max-width: 767px) {
			width: calc(100% + 16px);
			margin-right: -16px;
		}
	}

	&__item {
		padding: 20px;
		border-radius: 8px;
		border: 1px solid $bg;
		background: $white;
		@include transition;
		&:hover {
			border-color: $accent;
			img {
				transform: scale(1.2);
			}
		}
	}

	&__item-img {
		@include box(100%, 370px, 8px);
		overflow: hidden;
		margin-bottom: 20px;
		@media (max-width: 767px) {
			height: 200px;
		}
		img {
			@include box(100%);
			object-fit: cover;
			@include transition;
		}
	}

	&__item-title {
		color: $text;
		@include text-style(20px, 400, normal);
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	&__item-text {
		overflow: hidden;
		color: $text;
		text-overflow: ellipsis;
		@include text-style(18px, 300, 140%);
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		margin-bottom: 16px;
	}

	&__item-bottom {
		@include flex(row, space-between, center);
	}

	&__item-date {
		color: #9599aa;
		@include text-style(18px, 400, 140%);
	}

	&__item-link {
		@include center;
		padding: 4px 8px;
		color: $text;
		@include text-style(16px, 300, normal);
		border-radius: 4px;
		background: $accent;
		&:hover {
			background: #ffe754;
		}
	}
}
