@use '../abstracts' as *;

.catalog-second {
	@include flex(row, flex-start, flex-start, 24px);
	padding: 32px 102px 104px 102px;
	@media (max-width: 1024px) {
		@include flex(column, flex-start, flex-start, 24px);
		padding: 24px 20px 120px 20px;
	}
	@media (max-width: 767px) {
		padding: 24px 16px 80px 16px;
	}

	.filter-mobile-open {
		display: none;
		@media (max-width: 1024px) {
			width: 100%;
			@include flex(row, flex-start, center, 8px);
			color: $text;
			@include text-style(20px, 500, normal);
			letter-spacing: -0.312px;
			padding: 20px 16px;
			border-radius: 12px;
			background: $bg;
		}

		&__plus {
			margin-left: auto;
		}
	}

	.filter-overlay {
		display: none;
		@media (max-width: 1024px) {
			display: block;
			@include box(100%);
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(26, 26, 26, 0.6);
			backdrop-filter: blur(6px);
			z-index: 200;
			opacity: 0;
			pointer-events: none;
			@include transition;
			overflow: auto;
		}

		&.open-mobile-filter {
			opacity: 1;
			pointer-events: all;
			.filter {
				transform: translateX(0px);
				transform: translateY(0px);
			}
		}
	}

	.filter {
		@include flex(column, flex-start, flex-start, 24px);
		flex-shrink: 0;
		width: 291px;
		padding: 16px;
		border-radius: 12px;
		background: $bg;
		@include transition;
		@media (max-width: 1024px) {
			width: 374px;
			border-radius: 0;
			padding: 16px 20px;
			transform: translateX(-10px);
		}
		@media (max-width: 767px) {
			width: 100%;
			transform: translateX(0px);
			transform: translateY(-10px);
		}

		&.desktop {
			display: flex;
			@media (max-width: 1024px) {
				display: none;
			}
		}

		&.mobile {
			display: none;
			@media (max-width: 1024px) {
				display: flex;
			}
		}

		&__title {
			width: 100%;
			@include flex(row, flex-start, center, 8px);
			color: $text;
			@include text-style(20px, 500, normal);
			letter-spacing: -0.312px;
			padding: 12px 0;
		}

		&__title-close {
			margin-left: auto;
		}

		&__list {
			width: 100%;
			@include flex(column, flex-start, flex-start, 14px);
		}

		&__item {
			width: 100%;
		}

		&__item.open-filter-item {
			.filter__item-top--icon {
				transform: rotateX(180deg);
			}
			.filter__item-body {
				max-height: 500px;
			}
		}

		&__item-top {
			width: 100%;
			@include flex(row, space-between, center);
			cursor: pointer;
			p {
				color: $text;
				@include text-style(16px, 400, normal);
				letter-spacing: -0.312px;
			}
		}

		&__item-top--icon {
			@include center;
			@include transition;
		}

		&__item-body {
			width: 100%;
			max-height: 0;
			overflow: hidden;
			@include transition;
		}

		&__item-list {
			padding-top: 14px;
			width: 100%;
			@include flex(column, flex-start, flex-start, 12px);
		}

		&__item-item {
			width: 100%;
			@include flex(row, space-between, center);

			.checkbox {
				@include flex(row, center, center, 8px);
				cursor: pointer;
				user-select: none;

				input {
					display: none;
				}

				&__custom {
					@include box(20px, 20px, 4px);
					border: 1px solid $accent;
					position: relative;
					flex-shrink: 0;

					&::after {
						content: '';
						position: absolute;
						@include box(4px, 10px);
						border-right: 1px solid $text;
						border-bottom: 1px solid $text;
						top: 2px;
						left: 7px;
						transform: rotate(45deg);
						opacity: 0;
						@include transition;
					}
				}

				input:checked + .checkbox__custom {
					background-color: $accent;
				}

				input:checked + .checkbox__custom::after {
					opacity: 1;
				}

				&__label {
					color: $text;
					@include text-style(16px, 300, normal);
				}
			}

			.calc {
				color: $text;
				@include text-style(16px, 300, normal);
			}
		}

		&__btns {
			width: 100%;
			@include flex(row, center, center, 8px);
		}

		&__reset {
			@include center;
			height: 56px;
			padding: 12px 16px;
			color: $text;
			@include text-style(16px, 300, normal);
			border-radius: 8px;
			border: 1px solid $accent;
			&:hover {
				background: #ffe754;
			}
		}

		&__btn {
			@include center;
			@include box(100%, 56px, 8px);
			padding: 12px 16px;
			color: $text;
			@include text-style(16px, 700, normal);
			background: $accent;
			&:hover {
				background: #ffe754;
			}
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 24px;
		@media (max-width: 1024px) {
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
		}
		@media (max-width: 767px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	&__item {
		position: relative;
		padding: 16px;
		border-radius: 12px;
		border: 1px solid #eef3f8;
		background: $white;
		@include transition;
		&:hover {
			border-color: $accent;
		}
	}

	&__item-mark {
		position: absolute;
		left: 16px;
		top: 16px;
		@include center;
		padding: 8px 12px;
		color: $text;
		@include text-style(14px, 400, 110%);
		text-transform: uppercase;
		border-radius: 8px;
		background: $accent;
	}

	&__item-img {
		margin: auto;
		height: 220px;
		margin-bottom: 16px;
	}

	&__item-title {
		color: $text;
		@include text-style(20px, 400, normal);
		margin-bottom: 8px;
	}

	&__item-text {
		color: #9599aa;
		@include text-style(14px, 400, normal);
		letter-spacing: -0.312px;
		margin-bottom: 8px;
	}

	&__item-desc {
		color: $text;
		@include text-style(16px, 300, normal);
		margin-bottom: 24px;
	}

	&__item-btns {
		width: 100%;
		@include flex(row, center, center, 8px);
	}

	&__item-btn--more {
		@include center;
		@include box(50%, 56px, 8px);
		padding: 12px 16px;
		color: $text;
		@include text-style(16px, 700, normal);
		border: 2px solid $accent;
		&:hover {
			background: #ffe754;
		}
	}

	&__item-btn--price {
		@include center;
		@include box(50%, 56px, 8px);
		padding: 12px 16px;
		@include text-style(16px, 700, normal);
		color: $text;
		background: $accent;
		&:hover {
			background: #ffe754;
		}
	}
}
