@use '../abstracts' as *;

.categories {
	padding: 80px 102px 120px 102px;
	@media (max-width: 1024px) {
		padding: 48px 20px 120px 20px;
	}
	@media (max-width: 767px) {
		padding: 48px 20px 80px 20px;
	}

	&__top {
		@include flex(row, flex-start, center, 24px);
		margin-bottom: 22px;
	}

	&__title {
		color: $text;
		@include text-style(40px, 500, normal);
		@media (max-width: 767px) {
			@include text-style(32px, 500, normal);
		}
	}

	&__line {
		display: block;
		@include box(100%, 4px);
		background: $accent;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 24px;
		@media (max-width: 1024px) {
			row-gap: 40px;
		}
		@media (max-width: 767px) {
			grid-template-columns: repeat(2, 1fr);
			gap: 8px;
			row-gap: 24px;
		}
	}

	&__item {
		@include center;
	}

	&__item-link {
		@include flex(column, flex-start, center, 12px);
		&:hover {
			.categories__item-img {
				box-shadow: 0 0 4px 0 rgba(255, 220, 0, 0.6);
			}
			.categories__item-name {
				color: $accent;
			}
		}
	}

	&__item-img {
		overflow: hidden;
		height: 300px;
		object-fit: cover;
		border-radius: 8px;
		box-shadow: 0 0 4px 0 rgba(174, 175, 178, 0.25);
		@media (max-width: 1024px) {
			width: 164px;
			height: 156px;
		}
	}

	&__item-name {
		color: $text;
		@include text-style(18px, 700, normal, center);
		@include transition;
		@media (max-width: 767px) {
			@include text-style(16px, 700, normal, center);
		}
	}
}
