@use '../abstracts' as *;

.checkout-wrap {
	padding: 40px 102px 108px 102px;
	@media (max-width: 1024px) {
		padding: 16px 20px 75px 20px;
	}
}
.checkout {
	@include flex(row, flex-start, flex-start, 24px);
	align-items: stretch;
	@media (max-width: 1024px) {
		flex-direction: column;
		gap: 32px;
	}
	&__left {
		@include flex(column, flex-start, flex-start, 40px);
		@media (max-width: 1024px) {
			width: 100%;
		}
	}

	&__title {
		color: $text;
		@include text-style(40px, 500, normal);
		margin-bottom: -20px;
		@media (max-width: 767px) {
			@include text-style(32px, 500, normal);
			margin-top: 0;
		}
	}

	&__block {
		width: 100%;
	}

	&__block-title {
		color: $text;
		@include text-style(30px, 400, 130%);
		text-transform: capitalize;
		margin-bottom: 32px;
		@media (max-width: 767px) {
			@include text-style(24px, 500, normal);
		}
	}

	&__block-form {
		width: 100%;
		@include flex(column, center, center, 24px);
		.input {
			width: 100%;
		}
		input {
			width: 100% !important;
		}
	}

	&__submit {
		margin-top: 16px;
		@include center;
		padding: 12px 16px;
		color: $text;
		@include text-style(14px, 500, normal);
		letter-spacing: -0.312px;
		border-radius: 8px;
		background: $accent;
		&:hover {
			background: #ffe754;
		}
	}

	&__right {
		position: relative;
		max-width: 606px;
		width: 100%;
		@media (max-width: 1024px) {
			max-width: 100%;
		}
	}

	.row {
		width: 100%;
		@include flex(row, flex-start, flex-start, 25px);
		@media (max-width: 767px) {
			flex-direction: column;
			gap: 24px;
		}
	}

	.order {
		position: sticky;
		top: 24px;
		padding: 24px 12px;
		border-radius: 8px;
		border: 1px solid #f2f2f2;
		background: $white;
		@media (max-width: 767px) {
			position: relative;
			top: 0;
		}

		&__title {
			color: $text;
			@include text-style(28px, 500, normal);
			margin-bottom: 32px;
			@media (max-width: 767px) {
				position: relative;
				top: 0;
				@include text-style(24px, 500, normal);
			}
		}

		&__list {
			width: 100%;
			@include flex(column, flex-start, flex-start, 32px);
		}

		&__item {
			@include flex(row, flex-start, flex-start, 30px);
			height: 250px;
			@media (max-width: 1024px) {
				position: relative;
				width: 100%;
				gap: 24px;
				height: auto;
			}
			@media (max-width: 767px) {
				height: 160px;
			}
		}

		&__item-img {
			position: relative;
			@include box(305px, 100%, 8px);
			flex-shrink: 0;
			@include center;
			overflow: hidden;
			@media (max-width: 1024px) {
				position: static;
				@include box(94px, 80px, 8px);
			}
			img {
				@include box(100%);
				object-fit: contain;
			}
		}

		&__item-close {
			position: absolute;
			top: 15px;
			right: 20px;
			@media (max-width: 1024px) {
				top: 0;
				right: 0;
			}
		}

		&__item-info {
			@include flex(column, space-between, flex-start);
			height: 100%;
			@media (max-width: 1024px) {
				width: 100%;
			}
		}

		&__item-name {
			color: $text;
			@include text-style(18px, 400, 130%);
			text-transform: uppercase;
		}

		&__item-bottom {
			@include flex(column, flex-start, flex-start, 20px);
			@media (max-width: 1024px) {
				width: 100%;
				margin-top: 16px;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}
			@media (max-width: 767px) {
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}

		.counter__box {
			width: 138px;
			justify-content: space-around;
			@media (max-width: 1024px) {
				width: 69px;
				justify-content: center;
			}
		}

		&__item-price {
			color: $text;
			@include text-style(24px, 500, 110%);
			text-transform: uppercase;
		}

		&__price {
			width: 100%;
			margin-top: 48px;
		}

		&__price-list {
			width: 100%;
			@include flex(column, flex-start, flex-start, 16px);
			padding-bottom: 24px;
			border-bottom: 1px solid #f2f2f2;
			margin-bottom: 24px;
		}

		&__price-item {
			width: 100%;
			@include flex(row, space-between, center);
			p {
				color: $text;
				@include text-style(20px, 500, 110%);
				text-transform: uppercase;
			}
		}

		&__price-total {
			width: 100%;
			@include flex(row, space-between, center);
			p {
				color: $text;
				@include text-style(24px, 500, 110%);
				text-transform: uppercase;
			}
		}
	}
}
