@use '../abstracts' as *;

.create-review {
	padding: 80px 102px 120px 102px;
	@media (max-width: 1024px) {
		padding: 24px 24px 120px 24px;
	}
	@media (max-width: 767px) {
		padding: 16px 16px 80px 16px;
	}
	&__form {
		max-width: 557px;
		width: 100%;
		margin: auto;
		@include flex(column, flex-start, flex-start, 16px);
		@media (max-width: 1024px) {
			max-width: 100%;
		}
	}

	&__title {
		color: $text;
		@include text-style(40px, 500, normal);
		@media (max-width: 767px) {
			font-size: 32px;
		}
	}

	.rating {
		@include flex(row, flex-start, center, 2px);
	}

	.rating button {
		@include center;
		@include box(32px);
	}

	.rating svg path {
		fill: transparent;
		stroke: $accent;
		@include transition;
	}

	.rating .active svg path {
		fill: $accent;
	}

	&__submit {
		margin-top: 8px;
		@include center;
		width: 142px;
		padding: 12px 16px;
		color: $text;
		@include text-style(14px, 500, normal);
		letter-spacing: -0.312px;
		border-radius: 8px;
		background: $accent;
		&:hover {
			background: #ffe754;
		}
	}
}
