@use '../abstracts' as *;

.new {
	padding: 40px 102px 120px 102px;
	@media (max-width: 1024px) {
		padding: 24px 20px 120px 20px;
	}
	@media (max-width: 767px) {
		padding: 16px 16px 80px 16px;
	}
	&__content {
		@include flex(row, flex-start, flex-start, 24px);
		@media (max-width: 1024px) {
			position: relative;
			flex-direction: column;
		}
	}

	&__left {
		width: 396px;
		flex-shrink: 0;
		@media (max-width: 767px) {
			width: 100%;
		}
	}

	&__title {
		color: $text;
		@include text-style(40px, 500, normal);
		margin-bottom: 24px;
		@media (max-width: 767px) {
			font-size: 32px;
			margin-bottom: 16px;
		}
	}

	&__sub-title {
		color: $text;
		@include text-style(20px, 500, normal);
		letter-spacing: -0.312px;
		margin-bottom: 8px;
	}

	&__links {
		@include flex(column, flex-start, flex-start, 8px);
	}

	&__link {
		color: $grey;
		@include text-style(16px, 300, normal);
	}

	&__right {
		img {
			@include box(100%, 520px);
			object-fit: cover;
			border-radius: 16px;
			@media (max-width: 1024px) {
				@include box(352px, 224px);
				position: absolute;
				right: 0;
				top: 0;
			}
			@media (max-width: 767px) {
				position: static;
				width: 100%;
			}
		}
		h2 {
			max-width: 606px;
			width: 100%;
			margin-top: 32px;
			color: $text;
			@include text-style(20px, 500, normal);
			letter-spacing: -0.312px;
			margin-bottom: 8px;
			@media (max-width: 1024px) {
				max-width: 100%;
			}
		}
		p {
			max-width: 606px;
			width: 100%;
			color: $grey;
			@include text-style(16px, 400, 140%);
			@media (max-width: 1024px) {
				max-width: 100%;
			}
		}
	}
}
