@use '../abstracts' as *;

.partners-wrap {
	padding: 40px 0;
	background: $bg;
	@media (max-width: 1024px) {
		padding: 40px 0;
	}
	.container {
		@media (max-width: 767px) {
			padding: 0;
		}
	}
}
.partners {
	overflow: hidden;
	&__title {
		color: $text;
		@include text-style(40px, 500, normal, center);
		letter-spacing: -0.312px;
		margin-bottom: 32px;
		@media (max-width: 767px) {
			@include text-style(32px, 500, normal, center);
		}
	}

	&__track {
		display: flex;
		width: 200%;
		animation: marquee-infinite 12s linear infinite;
		animation-play-state: running;
		&:hover {
			animation-play-state: paused;
		}
	}

	&__list {
		width: 100%;
		@include flex(row, space-between, center);
	}

	&__item {
		width: 25%;
		margin-right: 100px;
		@media (max-width: 767px) {
			width: 100%;
			margin-right: 15px;
		}
	}
}

@keyframes marquee-infinite {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-50%);
	}
}
