@use '../abstracts' as *;

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include center;
	background: rgba(0, 0, 0, 0);
	opacity: 0;
	pointer-events: none;
	@include transition;
	z-index: 1000;

	&.active {
		opacity: 1;
		pointer-events: auto;
		background: rgba(0, 0, 0, 0.5);
	}

	&__content {
		background: $white;
		padding: 48px 24px 24px 24px;
		border-radius: 8px;
		max-width: 500px;
		width: 90%;
		position: relative;

		h2 {
			color: $text;
			@include text-style(28px, 500, normal, center);
			margin-bottom: 16px;
		}
	}

	&__close {
		position: absolute;
		top: 16px;
		right: 16px;
		@include center;
	}

	&__form {
		@include flex(column, flex-start, flex-start, 24px);
		.input {
			width: 100%;
		}
		input {
			width: 100%;
		}
		button {
			width: 100%;
			@include center;
			padding: 16px;
			color: $text;
			@include text-style(16px, 500, normal);
			letter-spacing: -0.312px;
			border-radius: 8px;
			background: $accent;
			&:hover {
				background: #ffe754;
			}
		}
	}
}
