@use '../abstracts' as *;

.sign-in {
	padding: 104px 102px 120px 102px;
	@media (max-width: 1024px) {
		padding: 27px 20px 120px 20px;
	}
	@media (max-width: 767px) {
		padding: 35px 16px 80px 16px;
	}
	&__form {
		max-width: 557px;
		width: 100%;
		margin: auto;
		@media (max-width: 1024px) {
			margin-left: 0;
		}
		@media (max-width: 767px) {
			max-width: 100%;
		}
	}

	&__title {
		color: $text;
		@include text-style(40px, 500, normal);
		margin-bottom: 16px;
		@media (max-width: 767px) {
			font-size: 32px;
		}
	}

	.forget {
		display: block;
		margin-top: 4px;
		margin-left: auto;
		color: $text;
		@include text-style(14px, 300, 130%, right);
		text-decoration-line: underline;
		text-decoration-style: solid;
		text-decoration-skip-ink: auto;
		text-decoration-thickness: auto;
		text-underline-offset: auto;
		text-underline-position: from-font;
	}

	&__btn {
		margin-top: 16px;
		@include center;
		padding: 12px 16px;
		color: $text;
		@include text-style(14px, 500, normal);
		letter-spacing: -0.312px;
		border-radius: 8px;
		background: $accent;
		margin-bottom: 16px;
		&:hover {
			background: #ffe754;
		}
	}

	&__desc {
		@include flex(row, flex-start, center, 8px);
		color: $text;
		@include text-style(14px, 300, 130%);
		a {
			color: $text;
			@include text-style(14px, 300, 130%);
			text-decoration-line: underline;
			text-decoration-style: solid;
			text-decoration-skip-ink: auto;
			text-decoration-thickness: auto;
			text-underline-offset: auto;
			text-underline-position: from-font;
		}
	}
}
