@use '../abstracts' as *;

.updates {
	width: 100%;
	@include flex(row, flex-start, center, 24px);
	background: $bg;
	margin-bottom: 120px;
	@media (max-width: 1024px) {
		flex-direction: column;
		gap: 0;
	}
	@media (max-width: 767px) {
		margin-bottom: 80px;
	}
	&__left {
		width: 50%;
		object-fit: cover;
		@media (max-width: 1024px) {
			@include box(100%, 465px);
			object-fit: cover;
		}
		@media (max-width: 767px) {
			height: 200px;
		}
	}

	&__right {
		max-width: 600px;
		width: 100%;
		@media (max-width: 1024px) {
			max-width: 100%;
			padding: 24px;
		}
		@media (max-width: 767px) {
			padding: 16px;
		}
	}

	&__title {
		color: $text;
		@include text-style(40px, 500, normal);
		letter-spacing: -0.312px;
		margin-bottom: 16px;
		@media (max-width: 767px) {
			font-size: 32px;
		}
	}

	&__text {
		color: $text;
		@include text-style(20px, 300, normal);
		margin-bottom: 32px;
		@media (max-width: 767px) {
			font-size: 16px;
		}
	}

	&__form {
		@include flex(column, flex-start, flex-start);
	}

	&__form-row {
		@include flex(row, flex-start, center, 8px);
		@media (max-width: 767px) {
			flex-direction: column;
			width: 100%;
		}
	}

	&__form-btn {
		margin-top: 32px;
		@include center;
		width: 328px;
		padding: 16px;
		@include text-style(16px, 700, normal);
		color: $text;
		border-radius: 8px;
		background: $accent;
		&:hover {
			background: #ffe754;
		}
		@media (max-width: 767px) {
			width: 100%;
		}
	}
}
.input {
	@media (max-width: 767px) {
		width: 100%;
	}
	label {
		display: block;
		color: $text;
		@include text-style(16px, 400, 130%);
		margin-bottom: 10px;
	}
	input {
		@include text-style(14px, 400, 130%);
		padding: 16px 15px;
		@include box(299px, 50px, 8px);
		border: 1px solid #f2f2f2;
		background: $white;
		@include transition;
		@media (max-width: 1024px) {
			width: 356px;
		}
		@media (max-width: 767px) {
			width: 100%;
		}
		&::placeholder {
			color: #9599aa;
			opacity: 1;
		}
		&:hover {
			border-color: #ffe754;
		}
		&:focus {
			border-color: #ffe754;
		}
	}
}

.custom-checkbox {
	margin-top: 24px;
	@include flex(row, flex-start, flex-start, 8px);
	@include text-style(14px, 300, 130%);
	cursor: pointer;
}

.custom-checkbox input {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.checkmark {
	@include box(18px, 18px, 2px);
	border: 1px solid $accent;
	flex-shrink: 0;
	position: relative;
	margin-top: 2px;
	@include transition;
}

/* Галочка */
.checkmark::after {
	content: '';
	position: absolute;
	left: 6px;
	top: 1px;
	width: 4px;
	height: 9px;
	border: solid #171e2f;
	border-width: 0 1px 1px 0;
	transform: rotate(45deg);
	opacity: 0;
}

/* Стан checked */
.custom-checkbox input:checked + .checkmark {
	background-color: $accent;
	border-color: $accent;
}

.custom-checkbox input:checked + .checkmark::after {
	opacity: 1;
}

/* Hover */
.custom-checkbox:hover .checkmark {
	background-color: #ffe754;
}
