@use '../abstracts' as *;

.why-us-wrap {
	padding: 56px 0;
	background: $bg;
	@media (max-width: 1024px) {
		padding: 56px 4px;
	}
}

.why-us {
	@include flex(row, center, flex-start, 24px);
	width: 100%;
	@media (max-width: 1024px) {
		flex-direction: column;
		gap: 40px;
	}
	&__left {
		width: 501px;
		@media (max-width: 1024px) {
			width: 100%;
		}
	}

	&__title {
		color: $text;
		@include text-style(40px, 500, normal);
		margin-bottom: 18px;
	}

	&__text {
		color: $text;
		@include text-style(16px, 300, normal);
	}

	&__right {
		width: 501px;
		@media (max-width: 1024px) {
			width: 100%;
		}
	}

	&__list {
		@include flex(column, flex-start, flex-start, 24px);
	}

	&__item {
		@include flex(row, flex-start, flex-start, 24px);
	}

	&__item-img {
		@include center;
		aspect-ratio: 1/1;
		@include box(48px, 48px, 100%);
		background: $accent;
	}

	&__item-info {
		@include flex(column, flex-start, flex-start, 8px);
	}

	&__item-info--title {
		color: $text;
		@include text-style(18px, 700, normal);
	}

	&__item-info--text {
		color: $grey;
		@include text-style(16px, 300, normal);
	}
}
