@use './base/fonts' as *;
@use './base/reset' as *;
@use './base/base' as *;
@use './base/utilities' as *;
@use './base/container' as *;

@use './blocks/header' as *;
@use './blocks/hero' as *;
@use './blocks/categories' as *;
@use './blocks/why-us' as *;
@use './blocks/products' as *;
@use './blocks/product' as *;
@use './blocks/partners' as *;
@use './blocks/reviews' as *;
@use './blocks/updates' as *;
@use './blocks/intro' as *;
@use './blocks/catalog' as *;
@use './blocks/catalog-second' as *;
@use './blocks/checkout' as *;
@use './blocks/thank' as *;
@use './blocks/payment' as *;
@use './blocks/popups' as *;
@use './blocks/about' as *;
@use './blocks/history' as *;
@use './blocks/advantages' as *;
@use './blocks/news' as *;
@use './blocks/new' as *;
@use './blocks/articles' as *;
@use './blocks/profile' as *;
@use './blocks/404' as *;
@use './blocks/polite' as *;
@use './blocks/contacts' as *;
@use './blocks/b2b' as *;
@use './blocks/request' as *;
@use './blocks/create-review' as *;
@use './blocks/sign-in' as *;
@use './blocks/password-recovery' as *;
@use './blocks/registration' as *;
@use './blocks/footer' as *;
